/* @override 
	http://localhost:9001/style.css
	http://localhost:8888/prototypes/consolidatedrecord/style.css
	http://aswellidea.com/prototype/046/style.css
*/

/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white; font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, Sans-Serif;}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*END CSS RESET*/






body{
	background: url('http://c.mfcreative.com/lib/tgn/ancestry/i/bodyGrdnt.png') #E2DECD top repeat-x;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: normal;
	vertical-align: baseline;
	overflow: hidden;}
html, body {height: 100%;}
body, .top, div.toolbar, .imageviewer {min-width: 920px;}
.top{position: absolute; width: 100%; height: 50px; top: 30px; z-index: 5000; background: #fff;}

a.ans_logo { background-image: url(_/img/ans_logo.png); width: 263px; height: 47px; display: block;text-indent: -9999px; position: relative; left: 4px;}
.loggedin {
	background: url(_/img/useroptions.png) no-repeat center;
	width: 434px;
	height: 39px; position: absolute; right: 0; top: 4px;}
.main{
	width: 100%; background-color: white;min-height: 100%; height: auto !important;
	height: 100%; margin-right: auto; margin-left: auto; margin-bottom: -114px; z-index: 0; padding-top: 112px; position: relative;}
a:link{ color: #526C11; font-weight: normal; font-style: normal; text-decoration: none;}
a:link:hover{ text-decoration: underline;}
a:visited{color: #526C11;}
/*FOOTER*/
.footer {
	background: url('_/img/footerbg.jpg') repeat-x;
	width: 100%;
	height: 22px;	
	margin: 0 auto; position: absolute; bottom: 0; padding-top: 8px; z-index: 2;}
	.footer, .push {height: 22px;}
.footer span{ color: #BBB0A3; font: 12px Tahoma, "Helvetica Neue", Arial, Helvetica, Sans-Serif; float: left; margin-left: 10px;}
.footer .right{ position: absolute; right: 0; margin-right: 15px;}
.footer a{ font: 12px Tahoma, "Helvetica Neue", Arial, Helvetica, Sans-Serif; color: #685E48; text-decoration: none; float: left; margin-left: 10px;}
.footer a:hover{ text-decoration: underline; color: #566C11;}

/* Sidebar */
/*
.main .sidebar{ width: 278px; height: 100%; position: fixed; left: 0; border-right: 3px solid #E2DECD; z-index: 2; top: 118px; background: #F5F4EF url(_/img/sidebar_bg.png) repeat;}
.main .sidebarshadow{	background: url('_/img/sidebarshadow.jpg') repeat-y; height: 100%; width: 6px; position: absolute; right: -9px;}
.main .sidebar a{ color: #665E46; font: bold 14px Tahoma, "Helvetica Neue", Arial, Helvetica, Sans-Serif; text-decoration: none;}
.main .sidebar ul li:hover a, .main .sidebar ul li.current a{ color: #fff;}
.main .sidebar ul{ background-color: transparent; display: none; border-bottom: 1px solid #e3e0d5;}

.main .sidebar ul li{ position: relative;}
.main .sidebar ul li:hover{ background-position: center bottom;}
.main .sidebar ul li a{ height: 33px; display: block; width: 100%; line-height: 31px;background: url(_/img/tab_sprite.png) repeat-x center top;}
.main .sidebar ul li a:hover{background: url(_/img/tab_sprite.png) repeat-x center bottom;}
.main .sidebar ul li.current a{ background: url(_/img/ulhover.png) left 0;}
.main .sidebar ul li span, .main .sidebar ul li.current a span{ width: 15px; height: 32px; position: absolute; right: -8px; line-height: 1.1em;}
.main .sidebar ul li.current span{background: url(_/img/ulhover.png) right 0;}
.main .sidebar ul li a.recordindex em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -1px;}
.main .sidebar ul li a.sourceinformation em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -22px;}
.main .sidebar ul li a.activity em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -96px;}
.main .sidebar ul li a.comments em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -57px;}

.main .sidebar ul li a.comments em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -57px;}
.main .sidebar ul li a.surroundingfacts em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -76px;}
.main .sidebar ul li a.timeline em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -95px;}
.main .sidebar ul li a.suggestedrecords em{ display: inline-block; background: url(_/img/iconsprite.png) 0 -115px;}
.main .sidebar ul li em{ width: 21px; height: 18px; margin-left: 15px; margin-right: 5px; position: relative; top: 5px;}
.main .sidebar ul li:hover a.recordindex em, .main .sidebar ul li.current a.recordindex em{background: url(_/img/iconsprite.png) no-repeat -24px -2px;}
.main .sidebar ul li:hover a.sourceinformation em, .main .sidebar ul li.current a.sourceinformation em{background: url(_/img/iconsprite.png) -24px -22px;}
.main .sidebar ul li:hover a.activity em, .main .sidebar ul li.current a.activity em{background: url(_/img/iconsprite.png) -24px -96px;}
.main .sidebar ul li:hover a.comments em, .main .sidebar ul li.current a.comments em{background: url(_/img/iconsprite.png) -24px -57px;}
.main .sidebar ul li:hover a.surroundingfacts em, .main .sidebar ul li.current a.surroundingfacts em{background: url(_/img/iconsprite.png) -24px -76px;}
.main .sidebar ul li:hover a.timeline em, .main .sidebar ul li.current a.timeline em{background: url(_/img/iconsprite.png) -24px -95px;}
.main .sidebar ul li:hover a.suggestedrecords em, .main .sidebar ul li.current a.suggestedrecords em{background: url(_/img/iconsprite.png) -24px -115px;}


.main .sidebar span.count {display: inline-block; background: url(_/img/iconsprite.png) 0 -173px; width: 20px; height: 17px; position: relative; top: 0; text-align: center; font-weight: normal; font-style: normal; font-size: 12px; padding-top: 1px; padding-left: 1px;}
.main .sidebar ul li:hover span.count, .main .sidebar ul li.current span.count{ color: #fff; background: url(_/img/iconsprite.png) -22px -173px; position: relative; right: -8px; display: inline-block; width: 20px; height: 17px; padding-top: 1px; padding-bottom: 1px;}

*/






/*MIDDLE*/
.middle{ background-color: white; border-right: 6px solid #695E49; z-index: 1; display: block; height: 85%; width: 580px; left: -537px; bottom: 30px;overflow-y:auto; overflow-x:hidden; position: fixed; top: 113px;}

#tabs-container {overflow-y:auto; overflow-x:hidden; margin: 30px;}
.middle h1{ font-weight: bold; font-size: 20px; color: #556C11; width: 100%; border-bottom: 1px solid #DAD4BE;}

#tabs-container img { margin-left: -20px;}




/*MIDDLE PAGES*/
.page-recordindex{ background-image: url(_/img/page-index.jpg); width: 544px; height: 504px; margin-top: 10px;}
.page-sourceinformation{ background-image: url(_/img/page-source.jpg); width: 544px; height: 504px; margin-top: 10px;}
.page-activity{ background-image: url(_/img/page-activity.jpg); width: 544px; height: 504px; margin-top: 10px;}
.page-comments{ background-image: url(_/img/page-comments.jpg); width: 544px; height: 504px; margin-top: 10px;}
.page-surroundingfacts{ background-image: url(_/img/page-surroundingfacts.jpg); width: 544px; height: 504px; margin-top: 10px;}
.page-timeline{ background-image: url(_/img/page-timeline.jpg); width: 544px; height: 504px; margin-top: 10px;}
.page-suggestedrecords{ background-image: url(_/img/page-suggestedrecords.jpg); width: 544px; height: 504px; margin-top: 10px;}




/*RIGHT*/
.main .imageviewer{ float:left;width:auto;position: relative;}
.main .imageviewer .dimmer{ background: #000 url(./_/img/imageviewer.jpg) no-repeat 0 0; width: 100%; height: 100%; opacity: 0.5; position: fixed;}
.main .imageviewer a.imglink{text-indent: -9999px;width: 100%; height: 100%; position: absolute;}

/*.main .image{ width: 100%; height: 100%; background: url(./_/img/imageviewer.jpg) no-repeat 0 0;position: absolute; right:25px;
}
.image{ width: 100%; height: 100%; background: transparent none;}*/

/*IMAGE VIEWER*/
.detailsbutton{	background: url('_/img/detailsbutton.jpg') no-repeat center top;
	display: block;
	width: 79px;
	height: 28px;
	margin: 7px 5px 10px 7px; float: left;text-indent: -9999px;}
.main .imageviewer .imagecontrols{ width: 44px; height: 315px; display: block; background: url(_/img/imagecontrols.png) no-repeat; opacity: 0.5;position: absolute;left:25px;top:70px;}
.main .imageviewer:hover .imagecontrols{ opacity: 1;}
.main.imageviewerpage .sidebar{ width: 278px;float: left;position:relative;overflow: hidden;z-index: 1;background: #fff;}
/*.main.imageviewerpage .sidebar a.sidebartab.collapse{width: 15px; height: 29px; position: absolute; top: 10px; right: -19px;text-indent: -9999px;}
.main.imageviewerpage .sidebar a.sidebartab.expand{width: 15px; height: 29px; position: absolute; top: 10px; right: -19px;text-indent: -9999px;}*/
.main.imageviewerpage #leftnav{
	float: left;
	width:51px;
	overflow: hidden;
	z-index: 15;
	position: relative;
	height: 600px;	
	background: transparent url(./_/img/leftnavrepeat.jpg) 0 0 repeat-y;
}
.main.imageviewerpage #leftnav ul{
	margin: 31px 0 0 5px;
	
}
.main.imageviewerpage #leftnav li a{
	display: block;
	width:38px;
	height: 39px;
	margin: 7px 0;
	text-indent: -2000em;
}

.main.imageviewerpage #leftnav li a#index{ background: transparent url(./_/img/leftnavicons.png) -7px -32px no-repeat;}
.main.imageviewerpage #leftnav li a#about{background: transparent url(./_/img/leftnavicons.png) -7px -77px no-repeat;}
.main.imageviewerpage #leftnav li a#comments{background: transparent url(./_/img/leftnavicons.png) -7px -122px no-repeat;height:48px;}
.main.imageviewerpage #leftnav li a#recent{background: transparent url(./_/img/leftnavicons.png) -7px -175px no-repeat;height:48px}
.main.imageviewerpage #leftnav li a#more{background: transparent url(./_/img/leftnavicons.png) -7px -228px no-repeat;height:48px;}

/* left nav hover states*/
.main.imageviewerpage #leftnav li a#index:hover{ background: transparent url(./_/img/leftnavicons.png) -65px -32px no-repeat;}
.main.imageviewerpage #leftnav li a#about:hover{ background: transparent url(./_/img/leftnavicons.png) -65px -77px no-repeat;}
.main.imageviewerpage #leftnav li a#comments:hover{ background: transparent url(./_/img/leftnavicons.png) -65px -122px no-repeat;}
.main.imageviewerpage #leftnav li a#recent:hover{ background: transparent url(./_/img/leftnavicons.png) -65px -175px no-repeat;}
.main.imageviewerpage #leftnav li a#more:hover{ background: transparent url(./_/img/leftnavicons.png) -65px -228px no-repeat;}

.main.imageviewerpage .togglehandle{
	float:left;
	width:13px;
	height: 500px;
	background: transparent url(./_/img/togglehandle.png) 0 0 no-repeat;
	z-index: 10;
}
.main.imageviewerpage .togglehandle.collapse{
	background: transparent url(./_/img/togglehandle.png) -13px 0 no-repeat;	
}

.main.imageviewerpage{ margin-top:6px;background: black url(./_/img/leftnavrepeat.jpg) 0 0 repeat-y;position: relative}
.main.imageviewerpage .sidebar .content strong{font-weight: bold;}
.imageviewerpage .sidebar ul li:hover{background: none;}
.imageviewerpage .sidebar .content ul{
	padding-left:15px;
	color: #665E46;
	font-size: 12px;
	height: auto;
	overflow-y: auto;
}
.imageviewerpage .sidebar .content ul li{
	margin: 10px 0;
}
.imageviewerpage .sidebar .content ul li input[type='text']{
	border:1px solid #888;
	height: 19px;
}
.imageviewerpage .sidebar .content ul li input[type='button']{
	border:none;
	background: transparent url(_/img/addButton.png) 0 0 no-repeat;
	width: 42px;
	height: 23px;
	margin: 1px 5px;
}
/* tool tips*/
.main.imageviewerpage .tooltip{
	display: none;
	z-index: 25;
	position: absolute;
	top:116px;
	left: 42px;
	text-indent: -2000em;
	height: 38px;	
}
.main.imageviewerpage .index{
	background: transparent url(./_/img/tooltips.png) 0 -2px no-repeat;
	width: 76px;
	height: 38px;
}
.main.imageviewerpage .about{
	background: transparent url(./_/img/tooltips.png) 0 -49px no-repeat;
	width: 78px;
	top:189px;
}
.main.imageviewerpage .comments{
	background: transparent url(./_/img/tooltips.png) 0 -92px no-repeat;
	width: 102px;
	top: 234px;
}
.main.imageviewerpage .recent{
	background: transparent url(./_/img/tooltips.png) 0 -146px no-repeat;
	width: 125px;
	top: 287px;
}
.main.imageviewerpage .more{
	background: transparent url(./_/img/tooltips.png) 0 -199px no-repeat;
	width: 143px;
	top: 342px;
}

/*
.main.imageviewerpage .sidebar .content.row{width: 278px; height: 684px;background: transparent url(_/img/sidebar-row.png) 0 0 no-repeat;}
.main.imageviewerpage .sidebar .content.page{ width: 278px; height: 621px; background-image: url(_/img/sidebar-page.jpg);}
*/
.main.imageviewerpage .sidebar.hidden, .main.imageviewerpage .sidebar.hidden .content.row, .sidebar.hidden .image-detail-toggle a{ width: 0; }


.image-detail-toggle{ background-image: url(_/img/imagedetailtogglebg.jpg); width: 100%; height: 55px; display: block;position: absolute;bottom: 140px; }
.image-detail-toggle a.page{ width: 62px; height: 48px; background: url(_/img/image-context-sprite.png) left top; display: inline-block; margin-top: 4px; margin-left: 76px;}
.image-detail-toggle a.row{ width: 62px; height: 48px; background: url(_/img/image-context-sprite.png) right top; display: inline-block; margin-top: 4px; margin-left: 0;}
.image-detail-toggle a.page.active{ background-position: left -138px;}
.image-detail-toggle a.row.active{ background-position: right -138px;}
.image-detail-toggle a.page:active{ background-position: left -92px;}
.image-detail-toggle a.row:active{ background-position: right -92px;}




/*SLIDER CONTENT*/
.slidercontent.hidden{}
.slidercontent.notes{ background-image: url(_/img/notescard.jpg); width: 277px; height: 212px; position: absolute; bottom: 171px;}
.slidercontent.treecard{ width: 277px; height: 250px; position: absolute; bottom: 171px; background: url(_/img/treecard.jpg) no-repeat;}

.main .sidebar .sidebarslider .bar { background: url('_/img/sliderbarbg.png') repeat-x; width: 100%; height: 24px; padding-top: 5px; position: absolute; bottom: 148px;}
.main .sidebar .sidebarslider .bar a.notes{ display: block; background: url(_/img/iconsprite.png) no-repeat 0 -133px;text-indent: -999px; position: absolute; left: 110px; width: 22px; height: 20px;}
.main .sidebar .sidebarslider .bar a.notes.active{ background-position: -22px -133px;}
.main .sidebar .sidebarslider .bar a.treecard{ display: block; background: url(_/img/iconsprite.png) no-repeat 0 -153px;text-indent: -999px; position: absolute; left: 145px; width: 22px; height: 20px;}
.main .sidebar .sidebarslider .bar a.treecard.active{ background-position: -22px -153px;}


/*TOOLTIP*/

.tip {
	width: 75px;
	padding-top: 4px;
	overflow: hidden;
	display: none;
	position: absolute;
	z-index: 500;
	background: transparent none no-repeat; color: white; text-align: center;}
	
.tipMid { padding: 3px 7px 4px; background-color: #665e46; background-image: none; opacity: 0.75;}
.tipBtm {background: transparent url(./_/img/tooltip-bottom.png) no-repeat bottom; height: 7px; opacity: 0.75;}


/*TOOLBAR*/
.toolbar{
	background: url('_/img/toolbarbg.png') repeat-x center;
	width: 100%;
	height: 41px;
	position: relative;
}
.toolbar a.button:hover{ background-position: center center;}
.toolbar a.button:active{ background-position: center bottom;}
.toolbar h1{ font: bold 14px Tahoma, "Helvetica Neue", Arial, Helvetica, Sans-Serif; color: #685E48; position: absolute; left: 240px; top: 12px; white-space: nowrap; text-shadow: #f4f1e7 0 1px 0;}
.return{
	background: url('_/img/returntoresults.jpg') no-repeat center top;
	display: block;
	width: 183px;
	height: 28px;
	margin: 7px 5px 10px 7px; float: left;text-indent: -9999px;}
.save{
	background: url(_/img/savebutton.png) no-repeat center top;
	width: 59px;
	height: 28px;text-indent: -9999px; margin-top: 7px; margin-right: 10px; float: right; display: inline-block;}
.order{background: url(_/img/order-original.jpg) no-repeat center top;
	display: block;
	width: 108px;
	height: 28px;text-indent: -9999px; margin-top: 5px; margin-right: 10px; float: right;}
.actions{
	background: url(_/img/actionsbutton.png) no-repeat center top;
	display: block;
	width: 74px;
	height: 28px;text-indent: -9999px; margin-top: 7px; float: right; margin-right: 12px;}
	
.actions-dropdown{ width: 200px; height: 309px; position: absolute; display: block; right: 8px; top: 4px; background: url(_/img/actions.png) no-repeat left top; z-index: 2;}
.actions-dropdown.hidden{ display: none;}

.actions-dropdown h4 a{
	font-weight: bold;
	position: absolute;
	top:37px;
	left: 24px;
	color: #526C11;
}
.actions-dropdown h4.share a{
	position: absolute;
	top:auto;
	bottom:50px;
}
.actions-dropdown ul{
	position: absolute;
	left:3px;
	top: 65px;
	overflow: hidden;
	width: 200px;
}
.actions-dropdown li a{	
	display: block;
	margin-left:2px;
	padding:5px 5px 8px 20px;
	width: 167px;
	line-height: 1em;
}
.actions-dropdown li a:hover{
	background: #C7D46B url(_/img/actionsdropdownhover.jpg) 0 100% repeat-x;
	color: #fff;
	text-decoration: none;
}
.actions-dropdown a{
	text-decoration: none;
	color:#444;
}
.actions-dropdown ul.socialmediaicons{
	position: absolute;
	bottom:18px;
	left:20px;
	top:auto;
}
.actions-dropdown ul.socialmediaicons li{
	float: left;
	margin:0 0 0 2px;
}
.actions-dropdown ul.socialmediaicons li a{
	display: block;
	text-indent: -2000em;
	width:16px;
	height: 16px;
	padding: 0px;
}
.actions-dropdown ul.socialmediaicons a.facebook{
	background: transparent url(_/img/socialmediaicons.png) 0 0 no-repeat;
}
.actions-dropdown ul.socialmediaicons a.twitter{
	background: transparent url(_/img/socialmediaicons.png) 0 -19px no-repeat;
}
.actions-dropdown ul.socialmediaicons a.email{
	background: transparent url(_/img/socialmediaicons.png) 0 -39px no-repeat;
	margin:2px 2px
}
.actions-dropdown ul.socialmediaicons a.facebook:hover, .actions-dropdown ul.socialmediaicons a.twitter:hover, .actions-dropdown ul.socialmediaicons a.email:hover{
	background-position-x: -18px;
}
/*INDEX STYLES*/
.index { font: bold 12px/1.5em Tahoma, "Helvetica Neue", Arial, Helvetica, Sans-Serif; margin-top: 25px; width: 476px;}
.index .title{ color: #665E46; font-weight: normal; font-style: normal;}

td.title{ width: 160px; text-align: right; padding-right: 8px;}
.index tr{ height: 25px;}

table.index tbody tr td em { font-weight: normal; font-style: normal; color: #665e46;}






/*PROTOTYPE ROW*/
#prototype{ width: 100%; height: 30px; position: absolute; display: block; top: 0; background: url(_/img/prototypebg.png) repeat-x; z-index: 2;}
#dropLinks{display:none; background:#999; width: 150px; position:relative; z-index:2; border-radius:5px; border: 1px solid #999; -moz-border-radius:5px; margin-left: 15px;}
#prototype a:hover { background-image: url(./_/img/variationsbutton.png);}
#prototype a { color: #797979; text-decoration: none; display: inline-block; margin-top: 4px; margin-left: 15px; padding: 3px 5px 3px 15px; width: 80px; text-align: left; background: none no-repeat;}
#dropLinks ul{-moz-border-radius:5px;}
#dropLinks ul li a{display:block; background: #e8e8e8; padding:5px; text-decoration:none; margin: 0; color: black; width: 140px; border-bottom: 1px solid #d5d5d5;}
#dropLinks{display:none; background:#999; width: 150px; position:relative; z-index:2;}
#dropLinks ul li a:hover{background: #d4d4d4;}



.ad a{ background-image: url(./_/img/ad.jpg); width: 263px; height: 148px; display: block; position: absolute; bottom: 180px; left: 8px;text-indent: -9999px;}

/* MICRO COMPARE POPUPS */

a.microbutton { color: #6a634b;padding-right:8px;text-decoration: none;}
a.microbutton:hover, a.microbutton.active{background: url(_/img/micro-compare-button.png) 100% 0 no-repeat;padding-right:8px;padding-top:0;padding-bottom: 2px;text-decoration: none; }
a.microbutton:hover span, a.microbutton.active span{background: #fff url(_/img/micro-compare-button.png) left top no-repeat; padding-left:8px;padding-top:0;padding-bottom: 4px;text-decoration: none; color: #fff;}
a.microbutton.active span, a.microbutton.active{margin:0}
a.microbutton:hover. a.microbutton.active{text-decoration: none; color: #556c11;}
#micropopup, #micropopup2, #micropopup3, #micropopup4, #micropopup5, #micropopup6, #micropopup7, #micropopup8, #micropopup9, #micropopup10, #micropopup11, #micropopup12, #micropopup13{ width: 498px; height: 268px; display: none; position: absolute; background: transparent url(_/img/record-micro.png) 0 0 no-repeat;}
#micropopup a.close, #micropopup2 a.close, #micropopup3 a.close, #micropopup4 a.close, #micropopup5 a.close, #micropopup6 a.close, #micropopup7 a.close, #micropopup8 a.close, #micropopup9 a.close, #micropopup10 a.close, #micropopup11 a.close, #micropopup12 a.close, #micropopup13 a.close{ position: absolute; top: 19px; right: 10px; display: block; width: 16px; height: 16px; padding: 4px; background: url(_/img/close-icon.jpg) no-repeat center center;}
